.preloader {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 24px 24px;
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures it's on top */
}

.loader-content {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.run-stat-icon {
    height: 12px;
    width: auto;
}

@media only screen and (min-width: 768px) {

    body {
        padding: 24px !important;
        background-color: #F7F4F0;
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
    }

    .body-container {
        border: 1px solid black;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .content {
        visibility: hidden;
        display: flex;
        padding: 12px 24px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        flex-direction: column;
        overflow: scroll;

    }

    main {
        display: flex;
        flex-direction: column;
        flex: 1;
        box-sizing: border-box;
    }

    main > .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 42px;
        padding: 24px 0;
        height: 100%;
        box-sizing: border-box;
    }

    #home-container > div {
        box-sizing: border-box;
        width: 100%;
        display: flex; 
        flex-direction: column; 
        gap: 24px;
    }

    #about-container {
        flex-direction: column !important;
        gap: 96px;
    }
    
    main > .container > div > h1 {
        font-size: 48px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 0px;
    }

    .works-container {
        display: flex;
        flex-wrap: wrap;
        /* Optional: Add a gap between images */
        gap: 12px;
    }

    .works-container a {
    /* Each image will take up roughly a third of the container's width */
    flex-basis: calc(33.333% - 12px); /* Adjust for the gap */
    width: calc(33.333% - 12px); /* Fallback for older browsers */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensures images fill the space without distortion */
    }

    .runs {
        display: flex;
        flex-direction: column;
        gap: 48px;
        width: 100%;
    }

    h3 {
        font-size: 64px;
        font-weight: 400;
    }

    p {
        font-size: 1.25rem;
        font-weight: 200;
    }

    p.large {
        font-weight: 400;
        font-size: 1.75rem;
    }

    .title {
        font-size: 80px;
        font-weight: 400;
        line-height: 0.8;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
    }

    .button {
        padding: 16px 24px;
        border-radius: 240px;
        transition: all 0.2s ease-in-out;
    }

    .button.primary {
        background-color: transparent;
        border: 1px solid #000;
        color: #000;
    }

    .button.primary:hover {
        background-color: #000;
        border: 1px solid #000;
        color: #FFF;
    }

    .button.secondary {
        background-color: transparent;
        color: #000;
        border: 0px solid #000;
    }

    .button.secondary:hover {
        text-decoration: underline;
    }

    .navigation-container {
        position: fixed;
        bottom: 24px;
        left: 24px;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .nav-background {
        position: absolute;
        top: 0px;
        left: 0px; /* Position is set by JavaScript */
        width: 0; /* Width is set by JavaScript */
        height: calc(100%);
        background: #000;
        border-radius: 40px;
        z-index: 1; /* Sits below the button text */
        /* The transition is added via JS to prevent animating on page load */
    }
}

@media only screen and (min-width: 768px) {
    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: 24px 24px;
        width: 100%;
        height: 100%;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000; /* Ensures it's on top */
    }

    .loader-content {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    #loader-title {
        font-family: 'Bricolage Grotesque', sans-serif;
        font-size: 160px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .loader-title span,
    .loader-subtitle span {
        opacity: 0;
        display: inline-block;
        animation: fadeInLetter 0.5s forwards;
    }
}

@media only screen and (min-width: 768px) {
    .hero-info-container {
        height: 20vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
        align-items: center;
    }

    .hero-image-container {
        grid-column: 1 / span 7;
        display:flex;
        flex-direction: column;
    }

    #home-container > div > img {
        width: 100%;
        aspect-ratio: 3.5 / 1;
        object-fit: cover;
    }

    .hero-buttons-container {
        grid-column: 9 / span 3;
        display:flex;
        flex-direction: column;
    }

    .buttons-container {
        display:flex;
        flex-direction: row;
        gap: 4px;
    }
}

/* WORK STYLES */
@media only screen and (min-width: 768px) {
    .work-item {
        position: relative;
        overflow: hidden;
        border-radius: 0 !important;
        padding: 0 !important;
    }

    .work-item > .work-item-title {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        padding: 12px;
        box-sizing: border-box;
    }

    .work-item > .work-item-title:hover {
        background-color: rgba(0,0,0,0.5);
        opacity: 1;
    }

    .work-item > .work-item-title > h2::before {
        content: "WEBSITE";
        font-size: 10px;
        font-weight: 100;
    }

    .work-item > .work-item-title > h2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        font-size: 18px;
        margin: 0px;
        font-weight: normal;
        color: #FFF;
        text-align: center;
    }

    .work-item > img {
        transition: all 0.5s ease-in-out;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .work-item:hover > img {
        scale: 1.0;
    }
}

/* ABOUT STYLES */
@media only screen and (min-width: 768px) {
    .what-i-do > p.large {
        font-size: 1.5rem;
        line-height: 1.5;
        max-width: 50%;
    }

    .about-hero {
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 64px;
    }

    .about-hero > div {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .about-hero > img {
        width: 50%;
        aspect-ratio: 1;
    }

    .what-i-do > p {
        font-size: 16px;
    }

    .run-statistics {
        display: flex;
        flex-direction: column;
    }

    .run-stat-container:nth-child(-n+2) {
        border-top: 1px solid #000;
    }

    .run-stat-container:nth-child(3) {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    .run-stat {
        padding: 24px 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 24px !important;
        box-sizing: border-box;
        gap: 24px;
    }

    .run-stat-icon {
        height: 24px;
        width: auto;
    }

    .run-stat > p {
        min-width: 400px;
    }

    .cta {
        padding: 60px 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cta-span {
        color: #000;
        font-size: 240px;
        text-align: center;
        text-decoration: underline;
    }
}